*{
  padding: 0;
  margin: 0;
/* font-family: "Gill Sans", sans-serif; */
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.navbar{
  background-color: rgba(0, 0, 0, 0.741);
  /* position: fixed; */
  width: 100%;
}

.items{
  text-decoration: none;
  list-style-type: none;
  padding: 13px;
  font-size: 1.2rem;
  font-weight: 500;
}

.loginlink{
  text-decoration: none;
  color: black;
}

.items:hover{
  border-bottom: 3px solid white;
  padding-bottom: 10px ;
}

.link{
  text-decoration: none;
  color: white;
}

.nav-items{
  display: flex;
  /* justify-content: center; */
  align-items: center;
}

.nav-wrapper{
  padding: 3px;
}

#logo{
  padding-right: 2px;
  margin-left: 2.5rem;
  transform: rotate(5deg);
  color: yellow;
}

.logo-title{
  color: white;
  margin-right: 3rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.login{
  padding: 7px;
  width: 5rem;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 15px;
  margin-left: 50rem;
  cursor: pointer;
}

.username{
  color: white;
  font-size: 20px;
  padding-left: 5px;
}

#user{
  margin-left: 49rem;
}

/* Home */

.card-block{
  margin: 3rem 4rem;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.cards{
  margin-left: 2rem;
  margin-bottom: 3rem;
  border: 1px solid black;
  height: 100%;
}

.blogpostitle{
  text-align: center;
  margin: 4rem 0 0 0;
  font-size: 2.5rem;
  font-weight: bold;
}
/* create */

.content{
  /* border: 1px solid black; */
  margin-top: 2rem;
  text-align: center;
  padding: 1rem;
}

.create-post{
  font-size: 3rem;
  padding-top: 3rem;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#create-text, #create-textb{
  padding: 3px;
  width: 29rem;
  height: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}

#create-textb{
  padding: 3px;
  width: 25rem;
  margin-bottom: 1rem;
}

#create-textt{
  width: 29rem;
  font-size: 1rem;
  padding: 3px;
  margin-bottom: 1rem;
}

#browse{
  padding: 3px;
  margin-left: 10px;
  font-size: 15px;
  height: 2rem;
}

#publish{
  font-size: 1rem;
  padding: 5px;
}

/* about */


.about-content{
  text-align: center;
  padding: 1rem ;
}

.about-me{
  margin: -1rem 10rem;
  text-align:justify;
}

#person{
  margin-left: 24.5rem;
}

/* login */

.loginPage{
  padding-top: 0;
  height: 30rem;
}

.login-reg{
  width: 35rem;
  height: 22rem;
  padding: 1rem;
  border: 1px solid black;
  margin: 5rem 25rem;
  background-color: white;
}

.login-title, .register-title{
  font-weight: bold;
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.register-title{
  margin-top: 0;
}

.login-box, .register-box{
  /* border: 1px solid black; */
  justify-content: center;
  padding: 1.6rem 1rem 1rem 8rem;
}

#login, #register{
  width: 15rem;
  height: 1.5rem;
  font-size: 1rem;
  padding: 4px;
  margin-bottom: 1rem;
}

#register-button{
  padding: 5px;
  font-size: 1rem;
  width: 5rem;
  margin-left: 5.2rem;
}

#login-button{
  padding: 2px;
  font-size: 1rem;
  width: 4rem;
  margin-left: 5.5rem;
}

/* Register */
